body {
    font-family: TimesNewRoman;
    padding: 20px;
    background: gray;
}

/* Header/Blog Title */
.header {
    border-radius: 25px;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: lightpink;
    font-family: Papyrus;
}
h3{
    font-size: 30px;
}

h5{
    font-size: 20px;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    border-radius: 25px;
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 1px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    border-radius: 25px;
     background-color: lightblue;
     padding: 20px;
     margin-top: 20px;
}
.card2 {
    border-radius: 25px;
     background-color: lightgreen;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}