h1{
	text-align: center;
	font-size: 70px;
}

body{
	background-color: lightblue;
	font-size: 32px;
	text-align: left;
	
}


button{
	width: 100px;
	height: 35px;
}
button:hover{
	cursor: pointer;
}

div{
	font-size: 30px;
}

form{
	box-sizing: border-box;
	border: red;
	margin: 20px 0;
}